/*Inputs*/
.cs-input:focus {
  box-shadow: 0 0 0 4px rgba(233,183,201,.35);
}

/* Input with icon */
.cs-input.with-icon {
  padding-left: 2.5rem;
}
 
/* Input icons */
.input-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--muted);
  z-index: 5;
}
